@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

:root {
    --primary-color: #00A4AE;
    --secondary-color: #FFFFFF;
    --tertiary-color: #ffb360;
    --quaternary-color: #00585D;
    --quinternary-color: #ACACAC;
    --sixth-color: #727272;
    --seventh-color: #00A4AE;
    --eighth-color:#b5329c;
}

*{
    font-family: 'AbeeZee', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
}

.container {
    max-width: 1400px; /* largura máxima do conteúdo */
    margin: 0 auto; /* centraliza o contêiner */
    padding: 0 5%; /* espaçamento interno para não tocar as bordas da tela */
}

header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 25px; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.7s;
    padding: 10px 0;
    z-index: 2;
}

header nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    position: relative;
    list-style: none;
    list-style-type: none;
    padding-left: 0;
    margin: 0 15px;
    display: inline;
    font-weight: bold;
}

header nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 700px;
    transition: 0.7s;
}

header nav ul li a:hover{
    color: var(--tertiary-color);
}

.imageLogo{
    background-color: white;
    width: 50px;
    border-radius: 30px;
    position: relative;
    transition: 0.7s;
}


/*** BLOCO 1 ***/
.bloco1 {
    background-color: var(--primary-color);
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco1 img {
    width: 400px; 
}

.bloco1 .text-bg h1 {
    font-size: 60px;
    color: var(--secondary-color); 
}

.bloco1 h2 {
    font-size: 50px;
    color: var(--tertiary-color);
    text-align: end;
}


/*** SERVIÇOS ***/
.servicos{
    padding-top: 50px;
    background-color: #00585D;
    height: 550px;
    width: 100vw;
}

.servicos-title{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 50px;
    padding-bottom: 60px;
}

.mainServicos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blocosServicos{
    width: 400px;
    height: 300px;
    border-radius: 7px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    color: white;
}

.blocosServicos:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blocosServicos h2{
    font-size: 35px;
    font-weight: 500;
}

.blocosServicos img{
    width: 50px;
    margin: 30px 0;
}

.blocosServicos p{
    font-size: 20px;
    text-align: center;
}

/*** PLANOS MENSAIS ***/

.wave {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -2px;
    background: #00585D;
}

.planos-mensais{
    font-family: 'Sansita';
    font-weight: normal;
    background-color: var(--seventh-color);
    font-size: 1.5em;
    height: 500px;
    padding-top: 70px;
}

.planos-mensais .container h1{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 50px;
    padding-bottom: 60px;
}

.main-planos-mensais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.blocos-planos{
    background-color: var(--quaternary-color);
    width: 220px;
    height: 280px;
    border-radius: 20px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    color: white;
    transition: transform 0.3s ease;
}

.blocos-planos:nth-child(1) {
    transform: translateY(40px);
}

.blocos-planos:nth-child(2) {
    transform: translateY(20px);
}

.blocos-planos:nth-child(3) {
    transform: translateY(0);
}

.blocos-planos:nth-child(4) {
    transform: translateY(20px);
}

.blocos-planos:nth-child(5) {
    transform: translateY(40px);
}

.blocos-planos h2{
    color: #dfdfdf;
    flex-wrap: nowrap;
}
    
.blocos-planos:hover{
    transform: scale(1.1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.blocos-planos p{
    color: #DFF200;
}

.blocos-planos button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--quinternary-color);
    border: none;
    color: #4B4B4B;
    font-weight: bold;
    cursor: pointer;
}
.blocos-planos button:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/** PLANO PERSONALIZADO ***/
.wave2 {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -2px;
    background: #00A4AE;
}

.plano-personalizado{
    background-color: #21C7D1;
    display: flex;
    flex-direction: column;
    text-align: center;   
    align-items: center; 
    height: 550px;
}
.contato-plano-personalizado{
    background-color: #00585D;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    border: none;
}
.contato-plano-personalizado:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
}

.contato-plano-personalizado:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.contato-plano-personalizado img{
    height: 50px;
    width: 50px;
}

.plano-personalizado h2{
    font-family: 'Sansita';
    color: #FFFFFF;
    padding-bottom: 20px;
    padding-top: 100px;
    font-size: 50px;
}
.plano-personalizado h3{
    font-family: 'Sansita';
    color: #43983C;
    padding-bottom:50px;
    font-size: 30px;
    
}

/*** AVALIAÇÕES ***/
.avaliacoes {
    margin: 50px 0;
}

.carrossel-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    font-size: 1.5em;
}

.carrossel-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.carrossel-header h1 {
    margin: 0;
    color: var(--primary-color);
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.avaliacao {
    flex: 0 0 33.3333%;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9e8e8;
    border-radius: 4px;
    margin: 0 10px;
}

.perfil {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.perfil img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.info h3 {
    margin: 0;
    font-size: 1.2em;
}

.info p {
    margin: 0;
    font-size: 0.9em;
    color: gray;
}

.logo-google {
    margin-left: auto !important;
    width: 30px !important;
    height: 30px !important;
}

.estrelas {
    color: gold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.carrossel-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #333;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/*** FOOTER ***/
footer {
    background-color: var(--primary-color);
    color: white;
    height: 350px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

footer .footer-fale-conosco{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer .footer-fale-conosco p{
    margin: 30px 0;
}

footer .footer-fale-conosco img{
    width: 150px;
    border-radius: 5px;
}

footer .footer-entre-em-contato{
    width: 33%;
    height: 100%;
    margin-left: 20px;
}

footer .footer-entre-em-contato p{
    margin: 30px 0;
}

footer .footer-localizacao{
    width: 33%;
}

footer .footer-localizacao iframe{
    width: 380px;
    height: 200px;
    border-radius: 5px;
    margin: 30px 0;
}


@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    header, footer, section {
        padding: 20px; /* Mais espaçamento para elementos */
    }

    .bloco-servico, .bloco-plano {
        width: auto; /* Blocos ocupam a largura total em dispositivos móveis */
        margin: 10px 0; /* Mais margem entre blocos */
    }

    .texto {
        font-size: 14px; /* Texto menor para melhor ajuste em telas pequenas */
    }

    img {
        max-width: 100%; /* As imagens não devem extrapolar seu contêiner */
        height: auto; /* Mantém a proporção da imagem */
    }
    
    h1, h2, h3 {
        font-size: calc(16px + 1.5vw); /* Fonte escalável baseada no tamanho da tela */
    }
}