@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

:root {
    --primary-color: #22e4ee;
    --secondary-color: #FFFFFF;
    --tertiary-color: #ffb360;
    --quaternary-color: #00585D;
    --quinternary-color: #ACACAC;
    --sixth-color: #727272;
    --seventh-color: #00A4AE;
    --eighth-color:#b5329c;
}

*{
    font-family: 'Sansita', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: var(--quaternary-color); 
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid var(--quaternary-color); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-size: 24px;
    font-weight: bold; 
    transition: all 250ms ease;
    z-index: 1000;
}

.btn::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: var(--quaternary-color);
    transition: margin-top 250ms, transform 250ms;
}

.btn:hover::after {
    margin-top: -8px;
    transform: scale(1.1);
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.3);
}
.btn.hidden {
    display: none;
}   
    
body{
    /*background-color: var(--secondary-color);*/
    background: #f7f7f7;
    overflow-x: hidden;
}

.container {
    max-width: 1400px; /* largura máxima do conteúdo */
    margin: 0 auto; /* centraliza o contêiner */
    padding: 0 5%; /* espaçamento interno para não tocar as bordas da tela */
    overflow: hidden; 

}

header{
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    font-size: 25px; 
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    transition: 0.7s;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    list-style-type: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav ul li a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 700px;
    transition: 0.7s;
}

header nav ul li a:hover{
    color: var(--tertiary-color);
}

.imageLogo{
    background-color: white;
    width: 50px;
    border-radius: 30px;
    position: relative;
    transition: 0.7s;
}

/*** MENU RESPONSIVO ***/
nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
}

nav .close-icon {
    display: none;
    font-size: 30px;
    color: white;
}

@media(max-width: 830px){
    /* menu mobile */
    header .container{
        margin: 10px 20px;
        text-align: right;
    }
    nav ul{
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--quaternary-color);
        width: 100%;
        height: 100%;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
        
    }
    ul.open{
        clip-path: circle(141.4% at 100% 0);
    }
    ul li a{
        margin: 10px 0;
        font-size: 30px;
    }
    nav .menu-icon{
        display: block;

    }

    nav .close-icon{
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }
    nav ul li:nth-child(3){
        display: none;
    }
}

/*** BLOCO 1 ***/
.bloco1{
    background: var(--quaternary-color);
}

.bloco1 .container{
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco1 img {
    width: 400px;
    margin-top: 80px;
}

.bloco1 .text-bg h1 {
    font-size: 60px;
    color: var(--secondary-color); 
    white-space: nowrap;
}

.bloco1 h2 {
    font-size: 50px;
    color: var(--tertiary-color);
    text-align: end;
}

.bloco1 .wave{
    margin-bottom: -20px;
}

.bloco1 .wave1{
    animation: moveWave1 6s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    from{
        transform: translateX(-200px);
    }
}

.bloco1 .wave2{
    animation: moveWave2 5s 1.2s ease-in-out infinite alternate;
}

@keyframes moveWave2 {
    from{
        transform: translateX(-180px);
    }
}

.bloco1 .wave3{
    animation: moveWave3 4s 0.7s ease-in-out infinite alternate;
}

@keyframes moveWave3 {
    from{
        transform: translateX(-120px);
    }
}

@media (max-width: 800px) {
    .bloco1 .container {
        flex-direction: column;
    }
    .bloco1 .text-bg h1 {
        margin-top: 60px;
        font-size: 40px;
        white-space: nowrap;
    }
    .bloco1 h2 {
        font-size: 35px;
    }

    .bloco1 img {
        width: 300px; 
    }
}


/*** SERVIÇOS ***/
#servicos{
    padding: 50px 0;
    width: 100vw;
}

.servicos-title{
    text-align: center;
    color: var(--quaternary-color);
    font-weight: normal;
    font-size: 50px;
}

.mainServicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.row-servico{
    display: flex;
    flex-direction: row;
}

.blocosServicos{
    width: 400px;
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    color: var(--quaternary-color);
}


.blocosServicos h2{
    font-size: 35px;
    font-weight: 500;
    white-space: nowrap;
}

.blocosServicos img{
    width: 20%;
    text-align: justify;
}

.blocosServicos p{
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}


@media (max-width: 800px) {
    .mainServicos {
        display: block;
    }

    .row-servico {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*** PLANOS MENSAIS ***/
.container-planos {
    max-width: 1500px;
    margin: 0 auto; 
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#planos-mensais h1 {
    text-align: center;
    font-size: 50px;
    color: var(--quaternary-color);
    font-weight: normal;
    padding-bottom: 40px
}

.article {
    --img-scale: 1.001;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;

}

article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

article h2 {
    margin: 0 0 18px 0;
    font-family: "Sansita";
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--quaternary-color);
    transition: color 0.3s ease-out;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9; /* Mantém a proporção */
    overflow: hidden;
    width: 100%; /* Garante que o figure ocupe 100% do espaço disponível */
    height: auto; /* Deixa a altura ajustável */
}

article img {
    width: 100%; /* A imagem ocupa 100% da largura do figure */
    height: 100%; /* A imagem ocupa 100% da altura do figure */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
}

article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
}

article a:focus {
    outline: 1px dotted #28666e;
}

article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

article:has(:hover, :focus) {
    --img-scale: 1.1;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
article:has(:hover, :focus) h2{
    color: var(--tertiary-color);

}

.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}

@media screen and (max-width: 960px) {
    article {
        container: card/inline-size;
    }

    .article-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .article-body p {
        display: none;
    }
}

@container card (min-width: 380px) {
    .article-wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
    }
    .article-body {
        padding-left: 0;
    }
    figure {
        width: 100%;
        height: auto; /* Deixa a altura ajustável */
    }
    figure img {
        width: 100%; /* A imagem ocupa 100% do figure */
        height: 100%; /* A imagem ocupa 100% do figure */
        object-fit: cover; /* Faz a imagem cobrir o espaço */
    }
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}



/** PLANO PERSONALIZADO ***/

.plano-personalizado{
    display: flex;
    flex-direction: column;
    text-align: center;   
    align-items: center; 
    padding: 50px 0;
    height: 600px;
}

.plano-personalizado .container{
    height: 100%;
}

.contato-plano-personalizado{
    background-color: #00585D;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    border: none;
}
.contato-plano-personalizado:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
}

.contato-plano-personalizado:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.contato-plano-personalizado img{
    height: 50px;
    width: 50px;
}

.plano-personalizado h2{
    font-family: 'Sansita';
    color: var(--quaternary-color);
    padding-bottom: 20px;
    padding-top: 100px;
    font-size: 50px;
}
.plano-personalizado h3{
    font-family: 'Sansita';
    color: #43983C;
    padding-bottom:50px;
    font-size: 30px;
    
}

/*** SOBRE NÓS ***/
.aboutUs {
    background-image: url('img/sobre-nos/colagem.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco-aboutUs {
    margin: 50px auto;
    max-width: 1000px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95));   
    color: #00585D;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.bloco-aboutUs-esquerda {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bloco-aboutUs-direita {
    flex: 1;
    padding: 20px;
}

.bloco-aboutUs-direita h1 {
    margin-bottom: 20px;
    text-align: center;
}

.bloco-aboutUs-direita p {
    line-height: 1.6;
}

.bloco-aboutUs-esquerda img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    .bloco-aboutUs{
        display: flex;
        flex-direction: column;
    }
    .bloco-aboutUs-esquerda img {
        width: 300px;
    }
}


/*** AVALIAÇÕES ***/
.avaliacoes {
    margin: 50px 0;
}

.carrossel-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    font-size: 1.5em;
}

.carrossel-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.carrossel-header h1 {
    margin: 0;
    color: var(--primary-color);
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.avaliacao {
    flex: 0 0 33.3333%;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9e8e8;
    border-radius: 4px;
    margin: 0 10px;
}

.perfil {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.perfil img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.info h3 {
    margin: 0;
    font-size: 1.2em;
}

.info p {
    margin: 0;
    font-size: 0.9em;
    color: gray;
}

.logo-google {
    margin-left: auto !important;
    width: 30px !important;
    height: 30px !important;
}

.estrelas {
    color: gold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.carrossel-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #333;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/*** FOOTER ***/
footer {
    background-color: var(--quaternary-color);
}

footer .container{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

footer .footer-fale-conosco{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

footer .footer-fale-conosco p{
    margin: 30px 0;
    margin-right: 30px;
}

footer .footer-fale-conosco img{
    width: 150px;
    border-radius: 5px;
}

footer .footer-entre-em-contato{
    width: 33%;
    height: 100%;
    padding-top: 50px;
    padding-left: 40px;
}

footer .footer-entre-em-contato p{
    margin: 30px 0;
}

footer .footer-entre-em-contato a{
    text-decoration: none;
    color: white;
}

footer .footer-localizacao{
    width: 33%;
    padding-top: 50px;
}

footer .footer-localizacao iframe{
    width: 380px;
    height: 200px;
    border-radius: 5px;
    margin: 30px 0;
}

footer>p{
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
}
footer p:hover{
    color:var(--tertiary-color);
}


@media (max-width: 800px) {
    footer #contato{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer .footer-fale-conosco p{
        margin-right: 0;
    }

    footer .footer-fale-conosco img{
        display: none;
    }

    footer .footer-fale-conosco, footer .footer-entre-em-contato, footer .footer-localizacao{
        width: 100%;
        padding: 0;
        padding-top: 50px;
        text-align: center;
    }
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    .servico-item, .plano {
        margin: 10px;
        padding: 10px;
    }

    .container {
        padding: 0 10px;
    }

    #servicos{
        height: auto;
    }
    .mainServicos{
        flex-direction: column;
    }
    .blocosServicos h2{
        font-size: 20px;
        white-space: nowrap;
    }
}

/* Estiliza a largura da barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Estiliza o "track" (fundo da barra de rolagem) */
  ::-webkit-scrollbar-track {
    background: transparent;
    border: none;
  }
  
  /* Estiliza o "thumb" (a parte que se move na barra de rolagem) */
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); /* Cor da barra */
    border-radius: 10px;
    border: 3px solid #f1f1f1; /* Adiciona uma borda ao thumb */
  }
  
  /* Estiliza o thumb ao ser hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--quaternary-color);
  }