@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

:root {
    --primary-color: #00A4AE;
    --secondary-color: #FFFFFF;
    --tertiary-color: #ffb360;
    --quaternary-color: #00585D;
    --quinternary-color: #ACACAC;
    --sixth-color: #727272;
    --seventh-color: #00A4AE;
    --eighth-color:#b5329c;
}

*{
    font-family: 'AbeeZee';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
}
.btn::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: var(--quaternary-color);
    transition: margin-top 250ms;
}
.btn:hover::after {
    margin-top:-8px;
}



header{
    background-color: var(--primary-color);
    margin: 0;
    font-size: 25px; 
    color: var(--secondary-color);
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    transition: 0.7s;
    padding: 10px 100px;
    z-index: 11;
}


header nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    position: relative;
    list-style: none;
    list-style-type: none;
    padding-left: 0;
    margin: 0 15px;
    display: inline;
    font-weight: bold;
}

header nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 700px;
    transition: 0.7s;
}

.imageLogo{
    background-color: white;
    width: 50px;
    border-radius: 30px;
    position: relative;
    transition: 0.7s;
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover{
    color: var(--tertiary-color);
}



/*** BLOCO 1 ***/
.bloco1 {
    background-color: var(--primary-color);
    height: 700px; 
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.bloco1 img {
    position: absolute;
    z-index: 1; 
    left: 35%;
    width: auto; 
    height: 90%;
}

.bloco1 h1, .bloco1 h2 {
    position: absolute; 
    z-index: 2;
    text-align: center; 
    color: var(--secondary-color);
}

.bloco1 h1 {
    font-family: "ABeeZee", sans-serif;
    font-size: 80px;
    top: 35%; 
    left: 8%;
    color: var(--secondary-color); 
}

.bloco1 h2 {
    font-family: "ABeeZee", sans-serif;
    font-size: 70px;
    top: 45%; 
    left: 23%;
    color: var(--tertiary-color); 
}


.wave1{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -2px;
}

.wave {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -2px;
    background: #00585D;
}

.wave2 {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -2px;
    background: #00A4AE;
}

/*** SERVIÇOS ***/
.servicos{
    padding-top: 50px;
    background-color: #00585D;
    height: 550px;
    width: 100%;
    display: block;
}

.centerText{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 50px;
    padding-bottom: 20px;
}
.centerTexth2{
    text-align: center;
    color: var(--quaternary-color);
    font-weight: normal;
    font-size: 30px;
    padding-bottom: 20px;
}


.mainServicos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blocosServicos{
    width: 400px;
    height: 280px;
    border-radius: 7px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    color: white;
}

.blocosServicos:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blocosServicos h2{
    font-size: 35px;
    font-weight: 500;
}

.blocosServicos img{
    width: 50px;
    margin: 5px 0;
}

.blocosServicos p{
    font-size: 20px;
    text-align: center;
}

/*** PLANOS MENSAIS ***/

.planos-mensais{
    font-family: 'Sansita';
    font-weight: normal;
    background-color: var(--seventh-color);
    height: 100%; 
    font-size: 1.5em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.planos-mensais h1{
    color: #ffffff;
}

.main-planos-mensais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.blocos-planos{
    background-color: var(--quaternary-color);
    width: 220px;
    height: 280px;
    border-radius: 20px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    color: white;
    transition: transform 0.3s ease;
    font-size: 20px;
}

.blocos-planos:nth-child(1) {
    transform: translateY(40px);
}

.blocos-planos:nth-child(2) {
    transform: translateY(20px);
}

.blocos-planos:nth-child(3) {
    transform: translateY(0);
}

.blocos-planos:nth-child(4) {
    transform: translateY(20px);
}

.blocos-planos:nth-child(5) {
    transform: translateY(40px);
}


.blocos-planos h2{
    color: #dfdfdf
}
    
.blocos-planos:hover{
    transform: scale(1.1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.blocos-planos p{
    color: #DFF200;
}

.blocos-planos button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--quinternary-color);
    border: none;
    color: #4B4B4B;
    font-weight: bold;
    cursor: pointer;
}
.blocos-planos button:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
/** PLANO PERSONALIZADO ***/
.plano-personalizado{
    width: 100%;
    height: 70vh;
    background-color: #21C7D1;
    display: flex;
    flex-direction: column;
    text-align: center;   
    align-items: center; 
}
.contato-plano-personalizado{
    background-color: #00585D;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.contato-plano-personalizado:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);

}
.contato-plano-personalizado:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.contato-plano-personalizado img{
    height: 50px;
    width: 50px;
    display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    
}
.plano-personalizado h2{
    font-family: 'Sansita';
    color: #FFFFFF;
    padding-bottom: 20px;
    padding-top: 100px;
    font-size: 50px;
}
.plano-personalizado h3{
    font-family: 'Sansita';
    color: #43983C;
    padding-bottom:50px;
    font-size: 30px;
    
}


/*** AVALIAÇÕES ***/

.avaliacoes {
    margin: 50px 0;
}

.carrossel-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    font-size: 1.5em;
}

.carrossel-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}


.carrossel-header h1 {
    margin: 0;
    color: var(--primary-color);
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.avaliacao {
    flex: 0 0 33.3333%;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9e8e8;
    border-radius: 4px;
    margin: 0 10px;
}

.perfil {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.perfil img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.info h3 {
    margin: 0;
    font-size: 1.2em;
}

.info p {
    margin: 0;
    font-size: 0.9em;
    color: gray;
}

.logo-google {
    margin-left: auto !important;
    width: 30px !important;
    height: 30px !important;
}

.estrelas {
    color: gold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.carrossel-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #333;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/*** MAPA ***/

.sectionMap {    
    background-color: var(--quinternary-color);
    display: flex;
    flex-direction: column; 
    font-family: "Sansita";
    color: var(--secondary-color);
    padding: 30px;
    align-items: center;
    font-family: 'Sansita';
    font-size: 30px ;
}

.sectionMap h1 {
    text-align: center; 
    margin-bottom: 20px; 
}

#blocoGeralMap {
    background-color: var(--sixth-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    max-width: 1200px; 
}

#blocoMap {
    display: flex;
    flex: 1; 
    justify-content: flex-start;
    padding: 30px;
}

#blocoEndereco {
    flex: 1; 
    justify-content: flex-end; 
    text-align: left;
    padding: 20px;
    text-align: justify;
    
}
#blocoEndereco h2 {
    color: #727272;
    text-align: center;

}



/*** FOOTER ***/
footer {
    background-color: var(--primary-color);
    color: white;
    height: 350px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

footer .footer-fale-conosco{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer .footer-fale-conosco p{
    margin: 30px 0;
}

footer .footer-fale-conosco img{
    width: 150px;
    border-radius: 5px;
}

footer .footer-entre-em-contato{
    width: 33%;
    height: 100%;
    margin-left: 20px;
}

footer .footer-entre-em-contato p{
    margin: 30px 0;
}

footer .footer-localizacao{
    width: 33%;
}

footer .footer-localizacao iframe{
    width: 380px;
    height: 200px;
    border-radius: 5px;
    margin: 30px 0;
}

/*footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div img{
    width: 50px;
    border-radius: 3px;
}

.footer-redes ul li{
    margin: 15px 0;
    list-style: none;
}

.footer-redes ul i{
    font-size: 25px;
}*/

